<footer>
  <div class="credit-wrap">
    <div class="credit mb-3">a Nikhil Maharishi &copy; production 2024.</div>
    <div class="tagline">
      Made with
      <img class="love" src="./assets/images/favourite.png" alt="Love" /> in
      India
    </div>
  </div>
  <div class="credit-wrap">
    <div class="item mb-3"><a href="tel:+91702-330-2271">+917023302271</a></div>
    <div class="item"><a href="mailto:nikhilmaharishi@gmail.com">nikhilmaharishi5&#64;gmail.com</a></div>
  </div>
</footer>
