<section>
  <div class="about-main">
    <span class="my-img">
      <img src="./assets/images/flying-img.jpg" />
    </span>
    <div class="about-description">
      <div class="text-wrap">
        <span class="text-normal">About</span>
        <span class="text-bold">Me</span>
      </div>
      <div class="about-content content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, vero.
        Laboriosam sapiente blanditiis adipisci repudiandae id non
        necessitatibus deserunt nobis corrupti, fugiat provident at doloribus
        unde cupiditate nostrum, vero nam Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Magnam perferendis dolorem sint fugiat
        vero maiores, nihil quam corporis autem
        <br />
        inventore. Vero sapiente beatae natus ea quod. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Ullam accusamus adipisci error
        expedita eos totam, reprehenderit est officia. Cupiditate ratione
        exercitationem dolorem ducimus cumque, eaque quo soluta unde non
        perspiciatis! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Minima ullam, repellendus rem dolore aut veritatis voluptas nesciunt
        assumenda asperiores alias aperiam, totam non explicabo culpa, excepturi
        illo fuga dolorum dicta.
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident at
        enim temporibus, modi veniam, tenetur soluta quia aperiam labore ipsam
        laboriosam iusto dolorem. Voluptatibus obcaecati id atque. Quis, quo
        maxime?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
        vitae repellendus? Asperiores veniam accusantium ipsa eius ullam et,
        impedit consequuntur voluptates error. Aliquam ab nam debitis,
        laudantium cum eum explicabo.
      </div>
    </div>
  </div>
</section>
