<section>
  <div class="about-main">
    <span class="my-img">
      <img src="./assets/images/flying-img.jpg" />
    </span>
    <div class="about-description">
      <div class="text-wrap">
        <span class="text-normal">About</span>
        <span class="text-bold">Me</span>
      </div>
      <div class="about-content content">
        Greetings! I'm a passionate Frontend developer with an
        insatiable curiosity for crafting elegant digital experiences. Fuelled
        by a year of hands-on experience at Flitpay, I thrive on the
        intersection of creativity and technology. My journey into the world of
        web development began with a spark of fascination that has since evolved
        into a blazing passion. With a keen eye for detail and a commitment to
        excellence, I immerse myself in every project, pushing the boundaries of
        possibility. Beyond the lines of code, I find joy in exploring new
        technologies, nurturing creativity, and collaborating with like-minded
        innovators. Let's embark on this journey together, where every pixel
        tells a story of innovation and ingenuity
      </div>
    </div>
  </div>
</section>
