<section class="experience-main">
  <div class="experience-head text-wrap">
    <span class="text-normal">My</span>
    <span class="text-bold">Experience</span>
  </div>
  <div class="exp-wrap">
    <div class="company-details">
      <div class="exp-head">
        <a class="company" href="https://www.flitpay.com/" target="_blank">
          <!-- <img class="company-logo" src="./assets/images/logo-white.png" /> -->
          <div>
            <span>Flitpay Pvt. Ltd.</span>
          </div>
        </a>

        <div class="duration">January-2023 - Peresent</div>
      </div>
      <div class="exp-content content">
        Joining Flitpay marked the inception of an exhilarating journey into the
        realm of frontend development. As a pivotal member of the team for the
        past year, I've been immersed in a groundbreaking IoT-based project,
        where every line of code contributes to reshaping the digital landscape.
        From conceptualization to implementation, I've leveraged my expertise to
        craft seamless user interfaces that bridge the gap between innovation
        and usability. Collaborating with cross-functional teams, I've honed my
        skills in agile development methodologies, ensuring timely delivery
        without compromising quality. At Flitpay, I've not just written code;
        I've woven experiences that redefine the future of technology.
      </div>
    </div>
  </div>
</section>
