<section class="experience-main">
  <div class="experience-head text-wrap">
    <span class="text-normal">My</span>
    <span class="text-bold">Experience</span>
  </div>
  <div class="exp-wrap">
    <div class="company-details">
      <div class="exp-head">
        <a class="company" href="https://www.flitpay.com/" target="_blank">
          <!-- <img class="company-logo" src="./assets/images/logo-white.png" /> -->
          <div>
            <span>Flitpay Pvt. Ltd.</span>
          </div>
        </a>

        <div class="duration">January-2023 - Peresent</div>
      </div>
      <div class="exp-content content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident at
        enim temporibus, modi veniam, tenetur soluta quia aperiam labore ipsam
        laboriosam iusto dolorem. Voluptatibus obcaecati id atque. Quis, quo
        maxime?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
        vitae repellendus? Asperiores veniam accusantium ipsa eius ullam et,
        impedit consequuntur voluptates error. Aliquam ab nam debitis,
        laudantium cum eum explicabo.
      </div>
    </div>
  </div>
</section>
