<section>
  <div class="contact-main">
    <div class="form-wrap">
      <form [formGroup]="contactForm" name="contact" method="POST" netlify>
        <div class="form-group">
          <input type="hidden" name="subject" value="maharishinikhil.netlify.app" />
          <div class="mb-3">
            <input type="text" formControlName="name" class="form-control" placeholder="Your Name" name="name">
          </div>
          <div class="mb-3">
            <input type="email" formControlName="email" class="form-control" placeholder="Email" name="email">
          </div>
          <div class="mb-3">
            <input type="text" formControlName="website" class="form-control" placeholder="Your Website (if exist)"
              name="website">
          </div>
          <div class="mb-3">
            <textarea rows="4" formControlName="message" cols="50" class="form-control" placeholder="How can i help"
              name="message"></textarea>
          </div>
          <div class="mb-3">
            <button class="btn" (click)="submit()" type="submit">Send</button>
          </div>
        </div>
      </form>

    </div>
    <div class="contact-head">
      <div class="text-wrap">
        <span class="text-bold">Let's</span>
        <span class="text-outline">talk</span>
        <span class="text-bold">for</span>
      </div>
      <div class="text-wrap">
        <span class="text-normal">something</span>
        <span class="text-bold">special</span>
      </div>

    </div>
  </div>
</section>